<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Webinar Categories` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg"><b>CREATING</b> `FCRA Compliance: Quarterly Update` `Webinar and Event`</div>
<div class="progress-msg">Associate post `FCRA Compliance: Quarterly Update` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `United States`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `Thursday, March 22, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `2 pm EST | 11 am PST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Creating parent Webinar and Event webinars_category `Webinar - Live` ...</div>
<div class="progress-msg"><b>CREATED</b> `FCRA Compliance: Quarterly Update` `Webinar and Event` (ID: 824)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SHRM 2018 Annual Conference & Exposition`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SHRM 2018 Annual Conference & Exposition`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SHRM 2018 Annual Conference & Exposition`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SHRM 2018 Annual Conference & Exposition`</div>
<div class="progress-msg"><b>CREATING</b> `SHRM 2018 Annual Conference & Exposition` `Webinar and Event`</div>
<div class="progress-msg">Associate post `SHRM 2018 Annual Conference & Exposition` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `SHRM 2018 Annual Conference &amp; Exposition`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `Chicago, IL United States`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `June 18-19, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `9:30 AM - 4:00 PM PST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Creating parent Webinar and Event webinars_category `Event` ...</div>
<div class="progress-msg"><b>CREATED</b> `SHRM 2018 Annual Conference & Exposition` `Webinar and Event` (ID: 825)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Duplicate post was found for post FCRA Compliance: Quarterly Update with unique key `FCRA Compliance: Quarterly Update`...</div>
<div class="progress-msg">Deleting attachments for `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg">Deleting images for `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg"><b>UPDATING</b> `FCRA Compliance: Quarterly Update` `Webinar and Event`</div>
<div class="progress-msg">Associate post `FCRA Compliance: Quarterly Update` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `FCRA Compliance: Quarterly Update`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `United States`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `Thursday, March 22, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `1 Hour 2 Minutes`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Creating parent Webinar and Event webinars_category `Webinar - On Demand` ...</div>
<div class="progress-msg"><b>UPDATED</b> `FCRA Compliance: Quarterly Update` `Webinar and Event` (ID: 824)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?`</div>
<div class="progress-msg"><b>CREATING</b> `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?` `Webinar and Event`</div>
<div class="progress-msg">Associate post `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `Canada`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `Tuesday, July 10, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `2:00 pm EST | 11 am PST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value `https://event.on24.com/wcc/r/1773388/13940A6575B46B358B17F2BE8391D7A6?partnerref=websiteevents`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Attempted to create parent Webinar and Event webinars_category `Webinar - Live`, duplicate detected. Importing Webinar and Event to existing `Webinar - Live` webinars_category, ID 23, slug `webinar-live` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ontario’s New Police Record Checks Reform Act: What Happens on November 1st?` `Webinar and Event` (ID: 826)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Criminal Record Check: HR Compliance and Best Practice Considerations`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Criminal Record Check: HR Compliance and Best Practice Considerations`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Criminal Record Check: HR Compliance and Best Practice Considerations`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Criminal Record Check: HR Compliance and Best Practice Considerations`</div>
<div class="progress-msg"><b>CREATING</b> `Criminal Record Check: HR Compliance and Best Practice Considerations` `Webinar and Event`</div>
<div class="progress-msg">Associate post `Criminal Record Check: HR Compliance and Best Practice Considerations` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `Criminal Record Check: HR Compliance and Best Practice Considerations`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `United Kingdom`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `July 12, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `2:00 pm BST | 9:00 am EST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value `https://event.on24.com/wcc/r/1657277/6FD83BC3654C1A05EA1DCB9E8F08585E?partnerref=websiteevents`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Attempted to create parent Webinar and Event webinars_category `Webinar - Live`, duplicate detected. Importing Webinar and Event to existing `Webinar - Live` webinars_category, ID 23, slug `webinar-live` ...</div>
<div class="progress-msg"><b>CREATED</b> `Criminal Record Check: HR Compliance and Best Practice Considerations` `Webinar and Event` (ID: 827)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening`</div>
<div class="progress-msg"><b>CREATING</b> `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening` `Webinar and Event`</div>
<div class="progress-msg">Associate post `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `Safeguarding Your Reputation and Protecting You from Liability Through Background Screening`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `United States`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `Thursday, August 30, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `2 pm EST | 11 am PST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value `https://event.on24.com/wcc/r/1773006/5BEBA3D1453F6E3063B9C15A747EF1EA?partnerref=websiteevents`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Attempted to create parent Webinar and Event webinars_category `Webinar - Live`, duplicate detected. Importing Webinar and Event to existing `Webinar - Live` webinars_category, ID 23, slug `webinar-live` ...</div>
<div class="progress-msg"><b>CREATED</b> `Volunteers in the Workplace: Safeguarding Your Reputation and Protecting You from Liability Through Background Screening` `Webinar and Event` (ID: 828)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `How to Convert Your Volunteers into Donors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `How to Convert Your Volunteers into Donors`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `How to Convert Your Volunteers into Donors`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `How to Convert Your Volunteers into Donors`</div>
<div class="progress-msg"><b>CREATING</b> `How to Convert Your Volunteers into Donors` `Webinar and Event`</div>
<div class="progress-msg">Associate post `How to Convert Your Volunteers into Donors` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `webinarevent_title`</div>
<div class="progress-msg">- Field `webinarevent_title` updated with value `How to Convert Your Volunteers into Donors`</div>
<div class="progress-msg">- Importing field `webinarevent_region`</div>
<div class="progress-msg">- Field `webinarevent_region` updated with value `United States`</div>
<div class="progress-msg">- Importing field `webinarevent_date`</div>
<div class="progress-msg">- Field `webinarevent_date` updated with value `Wednesday, September 19, 2018`</div>
<div class="progress-msg">- Importing field `webinarevent_time`</div>
<div class="progress-msg">- Field `webinarevent_time` updated with value `2 pm EST | 11 am PST`</div>
<div class="progress-msg">- Importing field `webinarevent_url`</div>
<div class="progress-msg">- Field `webinarevent_url` updated with value `https://event.on24.com/wcc/r/1773409/9B0226406AA0ECF403DFD8ADD69CFFE0?partnerref=websiteevents`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `webinars_category` ...</div>
<div class="progress-msg">- Attempted to create parent Webinar and Event webinars_category `Webinar - Live`, duplicate detected. Importing Webinar and Event to existing `Webinar - Live` webinars_category, ID 23, slug `webinar-live` ...</div>
<div class="progress-msg"><b>CREATED</b> `How to Convert Your Volunteers into Donors` `Webinar and Event` (ID: 829)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
