<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `International Background Screening: Top 5 Risks for U.S. Organizations`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `International Background Screening: Top 5 Risks for U.S. Organizations`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `International Background Screening: Top 5 Risks for U.S. Organizations`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `International Background Screening: Top 5 Risks for U.S. Organizations`</div>
<div class="progress-msg"><b>CREATING</b> `International Background Screening: Top 5 Risks for U.S. Organizations` `Compliance Update`</div>
<div class="progress-msg">Associate post `International Background Screening: Top 5 Risks for U.S. Organizations` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `International Background Screening: Top 5 Risks for U.S. Organizations` `Compliance Update` (ID: 745)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Your Release of Liability May Cause Liability`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Your Release of Liability May Cause Liability`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Your Release of Liability May Cause Liability`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Your Release of Liability May Cause Liability`</div>
<div class="progress-msg"><b>CREATING</b> `Your Release of Liability May Cause Liability` `Compliance Update`</div>
<div class="progress-msg">Associate post `Your Release of Liability May Cause Liability` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Your Release of Liability May Cause Liability` `Compliance Update` (ID: 746)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `A Stamp Of Approval From FINRA`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `A Stamp Of Approval From FINRA`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `A Stamp Of Approval From FINRA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `A Stamp Of Approval From FINRA`</div>
<div class="progress-msg"><b>CREATING</b> `A Stamp Of Approval From FINRA` `Compliance Update`</div>
<div class="progress-msg">Associate post `A Stamp Of Approval From FINRA` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `A Stamp Of Approval From FINRA` `Compliance Update` (ID: 747)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Jersey Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Jersey Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New Jersey Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New Jersey Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `New Jersey Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `New Jersey Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New Jersey Bans the Box` `Compliance Update` (ID: 748)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance`</div>
<div class="progress-msg"><b>CREATING</b> `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance` `Compliance Update`</div>
<div class="progress-msg">Associate post `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Credit Checks For Employment Purposes - Understanding State Compliance Requirements Resources: Compliance` `Compliance Update` (ID: 749)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `NYC Fair Chance Act`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `NYC Fair Chance Act`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `NYC Fair Chance Act`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `NYC Fair Chance Act`</div>
<div class="progress-msg"><b>CREATING</b> `NYC Fair Chance Act` `Compliance Update`</div>
<div class="progress-msg">Associate post `NYC Fair Chance Act` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `NYC Fair Chance Act` `Compliance Update` (ID: 750)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Portland Oregon Ban the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Portland Oregon Ban the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Portland Oregon Ban the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Portland Oregon Ban the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Portland Oregon Ban the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Portland Oregon Ban the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Portland Oregon Ban the Box` `Compliance Update` (ID: 751)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Notice to SterlingBackcheck clients on EU-US Privacy Shield`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Notice to SterlingBackcheck clients on EU-US Privacy Shield`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Notice to SterlingBackcheck clients on EU-US Privacy Shield`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Notice to SterlingBackcheck clients on EU-US Privacy Shield`</div>
<div class="progress-msg"><b>CREATING</b> `Notice to SterlingBackcheck clients on EU-US Privacy Shield` `Compliance Update`</div>
<div class="progress-msg">Associate post `Notice to SterlingBackcheck clients on EU-US Privacy Shield` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Notice to SterlingBackcheck clients on EU-US Privacy Shield` `Compliance Update` (ID: 752)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vermont Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vermont Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Vermont Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Vermont Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Vermont Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Vermont Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Vermont Bans the Box` `Compliance Update` (ID: 753)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Connecticut Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Connecticut Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Connecticut Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Connecticut Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Connecticut Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Connecticut Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Connecticut Bans the Box` `Compliance Update` (ID: 754)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `California Amends Labor Code Law`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `California Amends Labor Code Law`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `California Amends Labor Code Law`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `California Amends Labor Code Law`</div>
<div class="progress-msg"><b>CREATING</b> `California Amends Labor Code Law` `Compliance Update`</div>
<div class="progress-msg">Associate post `California Amends Labor Code Law` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `California Amends Labor Code Law` `Compliance Update` (ID: 755)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `California Fair Employment and Housing Council Regulation`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `California Fair Employment and Housing Council Regulation`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `California Fair Employment and Housing Council Regulation`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `California Fair Employment and Housing Council Regulation`</div>
<div class="progress-msg"><b>CREATING</b> `California Fair Employment and Housing Council Regulation` `Compliance Update`</div>
<div class="progress-msg">Associate post `California Fair Employment and Housing Council Regulation` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `California Fair Employment and Housing Council Regulation` `Compliance Update` (ID: 756)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Jersey Signs the "Opportunity to Compete Act"`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Jersey Signs the "Opportunity to Compete Act"`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New Jersey Signs the "Opportunity to Compete Act"`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New Jersey Signs the "Opportunity to Compete Act"`</div>
<div class="progress-msg"><b>CREATING</b> `New Jersey Signs the "Opportunity to Compete Act"` `Compliance Update`</div>
<div class="progress-msg">Associate post `New Jersey Signs the "Opportunity to Compete Act"` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New Jersey Signs the "Opportunity to Compete Act"` `Compliance Update` (ID: 757)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `PA House Bill 435 Background Checks for Employees and Volunteers`</div>
<div class="progress-msg"><b>CREATING</b> `PA House Bill 435 Background Checks for Employees and Volunteers` `Compliance Update`</div>
<div class="progress-msg">Associate post `PA House Bill 435 Background Checks for Employees and Volunteers` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `PA House Bill 435 Background Checks for Employees and Volunteers` `Compliance Update` (ID: 758)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New San Francisco Ordinance Regulates Criminal Background Checks`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New San Francisco Ordinance Regulates Criminal Background Checks`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New San Francisco Ordinance Regulates Criminal Background Checks`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New San Francisco Ordinance Regulates Criminal Background Checks`</div>
<div class="progress-msg"><b>CREATING</b> `New San Francisco Ordinance Regulates Criminal Background Checks` `Compliance Update`</div>
<div class="progress-msg">Associate post `New San Francisco Ordinance Regulates Criminal Background Checks` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New San Francisco Ordinance Regulates Criminal Background Checks` `Compliance Update` (ID: 759)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Baltimore Ban The Box Update May 20 2014`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Baltimore Ban The Box Update May 20 2014`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Baltimore Ban The Box Update May 20 2014`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Baltimore Ban The Box Update May 20 2014`</div>
<div class="progress-msg"><b>CREATING</b> `Baltimore Ban The Box Update May 20 2014` `Compliance Update`</div>
<div class="progress-msg">Associate post `Baltimore Ban The Box Update May 20 2014` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Baltimore Ban The Box Update May 20 2014` `Compliance Update` (ID: 760)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `State Requirements for Conducting Background Checks HHa`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `State Requirements for Conducting Background Checks HHa`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `State Requirements for Conducting Background Checks HHa`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `State Requirements for Conducting Background Checks HHa`</div>
<div class="progress-msg"><b>CREATING</b> `State Requirements for Conducting Background Checks HHa` `Compliance Update`</div>
<div class="progress-msg">Associate post `State Requirements for Conducting Background Checks HHa` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `State Requirements for Conducting Background Checks HHa` `Compliance Update` (ID: 761)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Rochester NY Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Rochester NY Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Rochester NY Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Rochester NY Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Rochester NY Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Rochester NY Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Rochester NY Bans the Box` `Compliance Update` (ID: 762)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hawaii Enacts HB 2243`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hawaii Enacts HB 2243`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Hawaii Enacts HB 2243`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hawaii Enacts HB 2243`</div>
<div class="progress-msg"><b>CREATING</b> `Hawaii Enacts HB 2243` `Compliance Update`</div>
<div class="progress-msg">Associate post `Hawaii Enacts HB 2243` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Hawaii Enacts HB 2243` `Compliance Update` (ID: 763)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `For National Employers: It May Be Time to “Ban the Box”`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `For National Employers: It May Be Time to “Ban the Box”`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `For National Employers: It May Be Time to “Ban the Box”`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `For National Employers: It May Be Time to “Ban the Box”`</div>
<div class="progress-msg"><b>CREATING</b> `For National Employers: It May Be Time to “Ban the Box”` `Compliance Update`</div>
<div class="progress-msg">Associate post `For National Employers: It May Be Time to “Ban the Box”` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `For National Employers: It May Be Time to “Ban the Box”` `Compliance Update` (ID: 764)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Mississippi is Anti-"Ban the Box"`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Mississippi is Anti-"Ban the Box"`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Mississippi is Anti-"Ban the Box"`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Mississippi is Anti-"Ban the Box"`</div>
<div class="progress-msg"><b>CREATING</b> `Mississippi is Anti-"Ban the Box"` `Compliance Update`</div>
<div class="progress-msg">Associate post `Mississippi is Anti-"Ban the Box"` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Mississippi is Anti-"Ban the Box"` `Compliance Update` (ID: 765)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Georgia Law Limits Employers Liability`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Georgia Law Limits Employers Liability`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New Georgia Law Limits Employers Liability`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New Georgia Law Limits Employers Liability`</div>
<div class="progress-msg"><b>CREATING</b> `New Georgia Law Limits Employers Liability` `Compliance Update`</div>
<div class="progress-msg">Associate post `New Georgia Law Limits Employers Liability` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New Georgia Law Limits Employers Liability` `Compliance Update` (ID: 766)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Rhode Island Passes Background Check Bill`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Rhode Island Passes Background Check Bill`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Rhode Island Passes Background Check Bill`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Rhode Island Passes Background Check Bill`</div>
<div class="progress-msg"><b>CREATING</b> `Rhode Island Passes Background Check Bill` `Compliance Update`</div>
<div class="progress-msg">Associate post `Rhode Island Passes Background Check Bill` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Rhode Island Passes Background Check Bill` `Compliance Update` (ID: 767)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Background Check Requirements for Rhode Island Firefighters`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Background Check Requirements for Rhode Island Firefighters`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New Background Check Requirements for Rhode Island Firefighters`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New Background Check Requirements for Rhode Island Firefighters`</div>
<div class="progress-msg"><b>CREATING</b> `New Background Check Requirements for Rhode Island Firefighters` `Compliance Update`</div>
<div class="progress-msg">Associate post `New Background Check Requirements for Rhode Island Firefighters` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New Background Check Requirements for Rhode Island Firefighters` `Compliance Update` (ID: 768)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Illinois Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Illinois Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Illinois Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Illinois Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Illinois Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Illinois Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Illinois Bans the Box` `Compliance Update` (ID: 769)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `You know what you know`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `You know what you know`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `You know what you know`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `You know what you know`</div>
<div class="progress-msg"><b>CREATING</b> `You know what you know` `Compliance Update`</div>
<div class="progress-msg">Associate post `You know what you know` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `You know what you know` `Compliance Update` (ID: 770)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Massachusetts Law Requires Fingerprint Background Checks`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Massachusetts Law Requires Fingerprint Background Checks`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `New Massachusetts Law Requires Fingerprint Background Checks`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `New Massachusetts Law Requires Fingerprint Background Checks`</div>
<div class="progress-msg"><b>CREATING</b> `New Massachusetts Law Requires Fingerprint Background Checks` `Compliance Update`</div>
<div class="progress-msg">Associate post `New Massachusetts Law Requires Fingerprint Background Checks` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `New Massachusetts Law Requires Fingerprint Background Checks` `Compliance Update` (ID: 771)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `District of Columbia Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `District of Columbia Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `District of Columbia Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `District of Columbia Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `District of Columbia Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `District of Columbia Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `District of Columbia Bans the Box` `Compliance Update` (ID: 772)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?`</div>
<div class="progress-msg"><b>CREATING</b> `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?` `Compliance Update`</div>
<div class="progress-msg">Associate post `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `An Applicant’s Event History- Why Must Criminal Records Be Viewed Differently?` `Compliance Update` (ID: 773)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders`</div>
<div class="progress-msg"><b>CREATING</b> `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders` `Compliance Update`</div>
<div class="progress-msg">Associate post `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Two New Laws In Louisiana To Assist In The Hiring Of Ex-offenders` `Compliance Update` (ID: 774)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes`</div>
<div class="progress-msg"><b>CREATING</b> `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes` `Compliance Update`</div>
<div class="progress-msg">Associate post `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Connecticut Financial Institutions That Can Run Credit Checks For Employment Purposes` `Compliance Update` (ID: 775)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Montgomery County Maryland Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Montgomery County Maryland Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Montgomery County Maryland Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Montgomery County Maryland Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Montgomery County Maryland Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Montgomery County Maryland Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Montgomery County Maryland Bans the Box` `Compliance Update` (ID: 776)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `FTC Tips For Job Applicants and Employees`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `FTC Tips For Job Applicants and Employees`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FTC Tips For Job Applicants and Employees`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `FTC Tips For Job Applicants and Employees`</div>
<div class="progress-msg"><b>CREATING</b> `FTC Tips For Job Applicants and Employees` `Compliance Update`</div>
<div class="progress-msg">Associate post `FTC Tips For Job Applicants and Employees` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `FTC Tips For Job Applicants and Employees` `Compliance Update` (ID: 777)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Columbia City Missouri Bans The Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Columbia City Missouri Bans The Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Columbia City Missouri Bans The Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Columbia City Missouri Bans The Box`</div>
<div class="progress-msg"><b>CREATING</b> `Columbia City Missouri Bans The Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Columbia City Missouri Bans The Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Columbia City Missouri Bans The Box` `Compliance Update` (ID: 778)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Prince George County, Maryland Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Prince George County, Maryland Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Prince George County, Maryland Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Prince George County, Maryland Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Prince George County, Maryland Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Prince George County, Maryland Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Prince George County, Maryland Bans the Box` `Compliance Update` (ID: 779)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Establish and Follow a Background Screening Policy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Establish and Follow a Background Screening Policy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Establish and Follow a Background Screening Policy`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Establish and Follow a Background Screening Policy`</div>
<div class="progress-msg"><b>CREATING</b> `Establish and Follow a Background Screening Policy` `Compliance Update`</div>
<div class="progress-msg">Associate post `Establish and Follow a Background Screening Policy` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Establish and Follow a Background Screening Policy` `Compliance Update` (ID: 780)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nevada SB 409`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nevada SB 409`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Nevada SB 409`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Nevada SB 409`</div>
<div class="progress-msg"><b>CREATING</b> `Nevada SB 409` `Compliance Update`</div>
<div class="progress-msg">Associate post `Nevada SB 409` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Nevada SB 409` `Compliance Update` (ID: 781)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cook County Illinois Restricts the Use of Credit Reports`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cook County Illinois Restricts the Use of Credit Reports`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Cook County Illinois Restricts the Use of Credit Reports`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cook County Illinois Restricts the Use of Credit Reports`</div>
<div class="progress-msg"><b>CREATING</b> `Cook County Illinois Restricts the Use of Credit Reports` `Compliance Update`</div>
<div class="progress-msg">Associate post `Cook County Illinois Restricts the Use of Credit Reports` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Cook County Illinois Restricts the Use of Credit Reports` `Compliance Update` (ID: 782)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Joseph R. Beau Biden III Child Protection Act`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Joseph R. Beau Biden III Child Protection Act`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Joseph R. Beau Biden III Child Protection Act`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Joseph R. Beau Biden III Child Protection Act`</div>
<div class="progress-msg"><b>CREATING</b> `Joseph R. Beau Biden III Child Protection Act` `Compliance Update`</div>
<div class="progress-msg">Associate post `Joseph R. Beau Biden III Child Protection Act` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Joseph R. Beau Biden III Child Protection Act` `Compliance Update` (ID: 783)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cross-Border Background Screening Programs: Are You in Compliance?`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cross-Border Background Screening Programs: Are You in Compliance?`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Cross-Border Background Screening Programs: Are You in Compliance?`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cross-Border Background Screening Programs: Are You in Compliance?`</div>
<div class="progress-msg"><b>CREATING</b> `Cross-Border Background Screening Programs: Are You in Compliance?` `Compliance Update`</div>
<div class="progress-msg">Associate post `Cross-Border Background Screening Programs: Are You in Compliance?` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Cross-Border Background Screening Programs: Are You in Compliance?` `Compliance Update` (ID: 784)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `NYC Credit Checks`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `NYC Credit Checks`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `NYC Credit Checks`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `NYC Credit Checks`</div>
<div class="progress-msg"><b>CREATING</b> `NYC Credit Checks` `Compliance Update`</div>
<div class="progress-msg">Associate post `NYC Credit Checks` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `NYC Credit Checks` `Compliance Update` (ID: 785)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #42</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”`</div>
<div class="progress-msg"><b>CREATING</b> `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”` `Compliance Update`</div>
<div class="progress-msg">Associate post `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `BMW and EEOC  Reach 1.6M Settlement - The Importance of “Individual Consideration”` `Compliance Update` (ID: 786)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #43</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Colorado Employment Verification Law Repealed`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Colorado Employment Verification Law Repealed`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Colorado Employment Verification Law Repealed`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Colorado Employment Verification Law Repealed`</div>
<div class="progress-msg"><b>CREATING</b> `Colorado Employment Verification Law Repealed` `Compliance Update`</div>
<div class="progress-msg">Associate post `Colorado Employment Verification Law Repealed` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Colorado Employment Verification Law Repealed` `Compliance Update` (ID: 787)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #44</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Austin Ban the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Austin Ban the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Austin Ban the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Austin Ban the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Austin Ban the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Austin Ban the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Austin Ban the Box` `Compliance Update` (ID: 788)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #45</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Philadelphia Ban the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Philadelphia Ban the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Philadelphia Ban the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Philadelphia Ban the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Philadelphia Ban the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Philadelphia Ban the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Philadelphia Ban the Box` `Compliance Update` (ID: 789)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #46</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Disclosure and Authorization Form Clarification`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Disclosure and Authorization Form Clarification`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Disclosure and Authorization Form Clarification`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Disclosure and Authorization Form Clarification`</div>
<div class="progress-msg"><b>CREATING</b> `Disclosure and Authorization Form Clarification` `Compliance Update`</div>
<div class="progress-msg">Associate post `Disclosure and Authorization Form Clarification` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Disclosure and Authorization Form Clarification` `Compliance Update` (ID: 791)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #47</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arkansas Act 1028`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arkansas Act 1028`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arkansas Act 1028`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Arkansas Act 1028`</div>
<div class="progress-msg"><b>CREATING</b> `Arkansas Act 1028` `Compliance Update`</div>
<div class="progress-msg">Associate post `Arkansas Act 1028` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Arkansas Act 1028` `Compliance Update` (ID: 792)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #48</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `EEOC Files Charges Against National Retail Chain`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `EEOC Files Charges Against National Retail Chain`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `EEOC Files Charges Against National Retail Chain`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `EEOC Files Charges Against National Retail Chain`</div>
<div class="progress-msg"><b>CREATING</b> `EEOC Files Charges Against National Retail Chain` `Compliance Update`</div>
<div class="progress-msg">Associate post `EEOC Files Charges Against National Retail Chain` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `EEOC Files Charges Against National Retail Chain` `Compliance Update` (ID: 793)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #49</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Indiana Senate Bill 312 – Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Indiana Senate Bill 312 – Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Indiana Senate Bill 312 – Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Indiana Senate Bill 312 – Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Indiana Senate Bill 312 – Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Indiana Senate Bill 312 – Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Indiana Senate Bill 312 – Bans the Box` `Compliance Update` (ID: 794)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #50</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `NYC Salary Ban`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `NYC Salary Ban`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `NYC Salary Ban`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `NYC Salary Ban`</div>
<div class="progress-msg"><b>CREATING</b> `NYC Salary Ban` `Compliance Update`</div>
<div class="progress-msg">Associate post `NYC Salary Ban` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `NYC Salary Ban` `Compliance Update` (ID: 795)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #51</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Credit Reports and the National Consumer Assistance Plan`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Credit Reports and the National Consumer Assistance Plan`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Credit Reports and the National Consumer Assistance Plan`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Credit Reports and the National Consumer Assistance Plan`</div>
<div class="progress-msg"><b>CREATING</b> `Credit Reports and the National Consumer Assistance Plan` `Compliance Update`</div>
<div class="progress-msg">Associate post `Credit Reports and the National Consumer Assistance Plan` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Credit Reports and the National Consumer Assistance Plan` `Compliance Update` (ID: 796)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #52</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Massachusetts CORI Updated Regulations`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Massachusetts CORI Updated Regulations`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Massachusetts CORI Updated Regulations`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Massachusetts CORI Updated Regulations`</div>
<div class="progress-msg"><b>CREATING</b> `Massachusetts CORI Updated Regulations` `Compliance Update`</div>
<div class="progress-msg">Associate post `Massachusetts CORI Updated Regulations` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Massachusetts CORI Updated Regulations` `Compliance Update` (ID: 797)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #53</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Duplicate post was found for post PA House Bill 435 Background Checks for Employees and Volunteers with unique key `PA House Bill 435 Background Checks for Employees and Volunteers`...</div>
<div class="progress-msg">Deleting attachments for `PA House Bill 435 Background Checks for Employees and Volunteers`</div>
<div class="progress-msg">Deleting images for `PA House Bill 435 Background Checks for Employees and Volunteers`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `PA House Bill 435 Background Checks for Employees and Volunteers`</div>
<div class="progress-msg"><b>UPDATING</b> `PA House Bill 435 Background Checks for Employees and Volunteers` `Compliance Update`</div>
<div class="progress-msg">Associate post `PA House Bill 435 Background Checks for Employees and Volunteers` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>UPDATED</b> `PA House Bill 435 Background Checks for Employees and Volunteers` `Compliance Update` (ID: 758)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #54</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `DC Credit Summary`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `DC Credit Summary`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC Credit Summary`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `DC Credit Summary`</div>
<div class="progress-msg"><b>CREATING</b> `DC Credit Summary` `Compliance Update`</div>
<div class="progress-msg">Associate post `DC Credit Summary` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `DC Credit Summary` `Compliance Update` (ID: 798)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #55</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Los Angeles Ban the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Los Angeles Ban the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Los Angeles Ban the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Los Angeles Ban the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Los Angeles Ban the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Los Angeles Ban the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Los Angeles Ban the Box` `Compliance Update` (ID: 799)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #56</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `California Bans Employers from Asking for Juvenile Criminal Records`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `California Bans Employers from Asking for Juvenile Criminal Records`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `California Bans Employers from Asking for Juvenile Criminal Records`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `California Bans Employers from Asking for Juvenile Criminal Records`</div>
<div class="progress-msg"><b>CREATING</b> `California Bans Employers from Asking for Juvenile Criminal Records` `Compliance Update`</div>
<div class="progress-msg">Associate post `California Bans Employers from Asking for Juvenile Criminal Records` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `California Bans Employers from Asking for Juvenile Criminal Records` `Compliance Update` (ID: 800)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #57</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Massachusetts Pay Equity`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Massachusetts Pay Equity`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Massachusetts Pay Equity`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Massachusetts Pay Equity`</div>
<div class="progress-msg"><b>CREATING</b> `Massachusetts Pay Equity` `Compliance Update`</div>
<div class="progress-msg">Associate post `Massachusetts Pay Equity` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Massachusetts Pay Equity` `Compliance Update` (ID: 801)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #58</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Philadelphia Credit Restrictions`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Philadelphia Credit Restrictions`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Philadelphia Credit Restrictions`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Philadelphia Credit Restrictions`</div>
<div class="progress-msg"><b>CREATING</b> `Philadelphia Credit Restrictions` `Compliance Update`</div>
<div class="progress-msg">Associate post `Philadelphia Credit Restrictions` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Philadelphia Credit Restrictions` `Compliance Update` (ID: 802)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #59</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Oregon Ban the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Oregon Ban the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Oregon Ban the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Oregon Ban the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Oregon Ban the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Oregon Ban the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Oregon Ban the Box` `Compliance Update` (ID: 803)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #60</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `NYC Fair Chance Summary`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `NYC Fair Chance Summary`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `NYC Fair Chance Summary`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `NYC Fair Chance Summary`</div>
<div class="progress-msg"><b>CREATING</b> `NYC Fair Chance Summary` `Compliance Update`</div>
<div class="progress-msg">Associate post `NYC Fair Chance Summary` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `NYC Fair Chance Summary` `Compliance Update` (ID: 804)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #61</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `NYC Credit Checks Update`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `NYC Credit Checks Update`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `NYC Credit Checks Update`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `NYC Credit Checks Update`</div>
<div class="progress-msg"><b>CREATING</b> `NYC Credit Checks Update` `Compliance Update`</div>
<div class="progress-msg">Associate post `NYC Credit Checks Update` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `NYC Credit Checks Update` `Compliance Update` (ID: 805)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #62</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `California Ban the Box Announcement`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `California Ban the Box Announcement`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `California Ban the Box Announcement`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `California Ban the Box Announcement`</div>
<div class="progress-msg"><b>CREATING</b> `California Ban the Box Announcement` `Compliance Update`</div>
<div class="progress-msg">Associate post `California Ban the Box Announcement` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `California Ban the Box Announcement` `Compliance Update` (ID: 806)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #63</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Albany County New York Salary History Ban`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Albany County New York Salary History Ban`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Albany County New York Salary History Ban`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Albany County New York Salary History Ban`</div>
<div class="progress-msg"><b>CREATING</b> `Albany County New York Salary History Ban` `Compliance Update`</div>
<div class="progress-msg">Associate post `Albany County New York Salary History Ban` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Albany County New York Salary History Ban` `Compliance Update` (ID: 807)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #64</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Maine Prevents Discrimination Based on Off Duty Marijuana Use`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Maine Prevents Discrimination Based on Off Duty Marijuana Use`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Maine Prevents Discrimination Based on Off Duty Marijuana Use`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Maine Prevents Discrimination Based on Off Duty Marijuana Use`</div>
<div class="progress-msg"><b>CREATING</b> `Maine Prevents Discrimination Based on Off Duty Marijuana Use` `Compliance Update`</div>
<div class="progress-msg">Associate post `Maine Prevents Discrimination Based on Off Duty Marijuana Use` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Maine Prevents Discrimination Based on Off Duty Marijuana Use` `Compliance Update` (ID: 808)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #65</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Kansas City Missouri Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Kansas City Missouri Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Kansas City Missouri Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Kansas City Missouri Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Kansas City Missouri Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Kansas City Missouri Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Kansas City Missouri Bans the Box` `Compliance Update` (ID: 809)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #66</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Washington State Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Washington State Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Washington State Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Washington State Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Washington State Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Washington State Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/Ban-Box-Washington-Compliance-Update-840x600.jpg` for `Washington State Bans the Box` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Ban-Box-Washington-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/Ban-Box-Washington-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/Ban-Box-Washington-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Ban-Box-Washington-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Ban-Box-Washington-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Washington State Bans the Box` `Compliance Update` (ID: 810)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #67</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history`</div>
<div class="progress-msg"><b>CREATING</b> `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history` `Compliance Update`</div>
<div class="progress-msg">Associate post `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg` for `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Crminial-Ban-Box-Mass-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Massachusetts Governor signed senate Bill 2371, a criminal justice reform bill which further restricts the information that an employer can ask an applicant about their criminal history` `Compliance Update` (ID: 812)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #68</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Spokane City Washington Bans the Box`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Spokane City Washington Bans the Box`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Spokane City Washington Bans the Box`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Spokane City Washington Bans the Box`</div>
<div class="progress-msg"><b>CREATING</b> `Spokane City Washington Bans the Box` `Compliance Update`</div>
<div class="progress-msg">Associate post `Spokane City Washington Bans the Box` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/Spokane-Ban-Box-Compliance-Update-840x600.jpg` for `Spokane City Washington Bans the Box` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Spokane-Ban-Box-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/Spokane-Ban-Box-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/Spokane-Ban-Box-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Spokane-Ban-Box-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Spokane-Ban-Box-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Spokane City Washington Bans the Box` `Compliance Update` (ID: 814)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #69</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `San Francisco Amends Fair Chance Ordinance`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `San Francisco Amends Fair Chance Ordinance`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `San Francisco Amends Fair Chance Ordinance`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `San Francisco Amends Fair Chance Ordinance`</div>
<div class="progress-msg"><b>CREATING</b> `San Francisco Amends Fair Chance Ordinance` `Compliance Update`</div>
<div class="progress-msg">Associate post `San Francisco Amends Fair Chance Ordinance` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/SF-Fair-Chance-Compliance-Update-840x600.jpg` for `San Francisco Amends Fair Chance Ordinance` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image SF-Fair-Chance-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/SF-Fair-Chance-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/SF-Fair-Chance-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/SF-Fair-Chance-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/SF-Fair-Chance-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `San Francisco Amends Fair Chance Ordinance` `Compliance Update` (ID: 816)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #70</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westchester NY Salary History Ban`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westchester NY Salary History Ban`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Westchester NY Salary History Ban`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westchester NY Salary History Ban`</div>
<div class="progress-msg"><b>CREATING</b> `Westchester NY Salary History Ban` `Compliance Update`</div>
<div class="progress-msg">Associate post `Westchester NY Salary History Ban` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/County-Salary-Ban-Compliance-Update-840x600.jpg` for `Westchester NY Salary History Ban` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image County-Salary-Ban-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/County-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/County-Salary-Ban-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/County-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/County-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Westchester NY Salary History Ban` `Compliance Update` (ID: 818)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #71</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vermont Salary History Ban`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vermont Salary History Ban`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Vermont Salary History Ban`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Vermont Salary History Ban`</div>
<div class="progress-msg"><b>CREATING</b> `Vermont Salary History Ban` `Compliance Update`</div>
<div class="progress-msg">Associate post `Vermont Salary History Ban` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/Vermont-Salary-Ban-Compliance-Update-840x600.jpg` for `Vermont Salary History Ban` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Vermont-Salary-Ban-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/Vermont-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/Vermont-Salary-Ban-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Vermont-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Vermont-Salary-Ban-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Vermont Salary History Ban` `Compliance Update` (ID: 820)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #72</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Connecticut Salary Ban`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Connecticut Salary Ban`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Connecticut Salary Ban`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Connecticut Salary Ban`</div>
<div class="progress-msg"><b>CREATING</b> `Connecticut Salary Ban` `Compliance Update`</div>
<div class="progress-msg">Associate post `Connecticut Salary Ban` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/06/Connecticut-Compliance-Update-840x600.jpg` for `Connecticut Salary Ban` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Connecticut-Compliance-Update-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/06/Connecticut-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/06/Connecticut-Compliance-Update-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Connecticut-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/Connecticut-Compliance-Update-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Connecticut Salary Ban` `Compliance Update` (ID: 822)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
