<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Integration Categories` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Workday`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Workday`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Workday`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Workday`</div>
<div class="progress-msg"><b>CREATING</b> `Workday` `Integration Partner`</div>
<div class="progress-msg">Associate post `Workday` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `681`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions integrated employment screening services with Workday Recruiting provides our customers with a seamless solution. We make sure our joint customers are assured a successful experience.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Creating parent Integration Partner integration_category `Strategic Integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Workday` `Integration Partner` (ID: 680)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ultimate Software`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ultimate Software`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ultimate Software`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ultimate Software`</div>
<div class="progress-msg"><b>CREATING</b> `Ultimate Software` `Integration Partner`</div>
<div class="progress-msg">Associate post `Ultimate Software` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `683`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `&lt;p&gt;Ultimate Software’s UltiPro® cloud HR, payroll, and talent solution helps organizations improve the employee experience at all levels, beginning with personalized recruiting and onboarding that fosters long-term relationships. Ultimate has created a bi-directional integration between UltiPro Recruiting and Sterling Talent Solutions to offer a seamless experience for your organization.&lt;/p&gt;

&lt;p&gt;UltiPro also delivers convenient, role-based access to pay, benefits, and development information. With UltiPro, HR can rapidly process payroll; leverage flexible time solutions; offer a modern approach to learning; facilitate productive performance, succession, and compensation management; and measure employee sentiment using advanced survey technology. Most importantly, UltiPro is supported by powerful business intelligence across all its solutions that helps organizations drive smarter, people-focused results.&lt;/p&gt;`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ultimate Software` `Integration Partner` (ID: 682)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `TribeHR`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `TribeHR`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TribeHR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `TribeHR`</div>
<div class="progress-msg"><b>CREATING</b> `TribeHR` `Integration Partner`</div>
<div class="progress-msg">Associate post `TribeHR` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `685`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `The TribeHR panel integration with Sterling Talent Solutions provides our joint customers with a seamless experience for a positive candidate and TribeHR user experience.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `TribeHR` `Integration Partner` (ID: 684)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `talentReef`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `talentReef`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `talentReef`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `talentReef`</div>
<div class="progress-msg"><b>CREATING</b> `talentReef` `Integration Partner`</div>
<div class="progress-msg">Associate post `talentReef` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `687`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `talentReef is a provider for Social Recruiting and Talent Management Systems specifically built for the Hourly workforce. As the market leader with more than 60,000 sites under contract, the company streamlines how fast-paced operators find, hire, train, and manage their most valuable asset—talent. talentReef’s mobile-optimized HR platform is transforming the way Millennials are connecting on-demand with employers globally.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `talentReef` `Integration Partner` (ID: 686)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Snagajob`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Snagajob`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Snagajob`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Snagajob`</div>
<div class="progress-msg"><b>CREATING</b> `Snagajob` `Integration Partner`</div>
<div class="progress-msg">Associate post `Snagajob` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `689`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `&lt;p&gt;Snagajob is America’s #1 hourly marketplace. We focus on creating instant and quality connections so workers can get jobs and employers can hire workers—in minutes. Since 2000, our mission has been to put people in right fit-positions so they can maximize their potential and live more fulfilling lives. We do this through the Snagajob marketplace and PeopleMatter, our end-to-end platform of talent and workforce management solutions.&lt;/p&gt;

&lt;p&gt;Our mobile sourcing, hiring, training, scheduling, and performance management tools drive results for single-location operators to Fortune 500 businesses with thousands of locations, across the restaurant, retail, hospitality and healthcare industries.&lt;/p&gt;`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Snagajob` `Integration Partner` (ID: 688)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SmartSearch`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SmartSearch`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SmartSearch`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SmartSearch`</div>
<div class="progress-msg"><b>CREATING</b> `SmartSearch` `Integration Partner`</div>
<div class="progress-msg">Associate post `SmartSearch` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `691`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions and SmartSearch offer an integrated solution that reduces time to placement and improves overall hire quality, driving bottom-line results.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `SmartSearch` `Integration Partner` (ID: 690)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SmartRecruiters`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SmartRecruiters`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SmartRecruiters`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SmartRecruiters`</div>
<div class="progress-msg"><b>CREATING</b> `SmartRecruiters` `Integration Partner`</div>
<div class="progress-msg">Associate post `SmartRecruiters` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `693`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `SmartRecruiters offers a robust integration with Sterling Talent Solutions employment screening and onboarding solutions to provide our clients with a simplified solution.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `SmartRecruiters` `Integration Partner` (ID: 692)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SilkRoad`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SilkRoad`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SilkRoad`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SilkRoad`</div>
<div class="progress-msg"><b>CREATING</b> `SilkRoad` `Integration Partner`</div>
<div class="progress-msg">Associate post `SilkRoad` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `695`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Headquartered in Chicago, IL, SilkRoad technology offers global social talent management called The Life Suite, which allows organizations and their employees to “Work Happy and Be Social” It’s an integrated suite of employer-branded applications that power your business: OpenHire for recruiting, RedCarpet for onboarding and life events, WingSpan for performance management, Point &amp; Eprise for Social Collaboration and Content, GreenLight for learning management and HeartBeat for trusted HRMS. The Life Suite can be purchased together or as standalone solutions that fit every organizations employee and talent management needs.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `SilkRoad` `Integration Partner` (ID: 694)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SAP SuccessFactors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SAP SuccessFactors`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SAP SuccessFactors`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SAP SuccessFactors`</div>
<div class="progress-msg"><b>CREATING</b> `SAP SuccessFactors` `Integration Partner`</div>
<div class="progress-msg">Associate post `SAP SuccessFactors` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `697`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `People are the heartbeat of every organization and great business results start with great people. When people are all-in, feeling supported, trained, rewarded and motivated, they do what it takes to win. As the leading cloud-based HCM Suite, SAP SuccessFactors helps more than 6,000+ customers, and 45+ million cloud application subscribers, across more than 60 industries in over 177 countries, tap into this heartbeat.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `SAP SuccessFactors` `Integration Partner` (ID: 696)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Pereless Systems`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Pereless Systems`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Pereless Systems`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Pereless Systems`</div>
<div class="progress-msg"><b>CREATING</b> `Pereless Systems` `Integration Partner`</div>
<div class="progress-msg">Associate post `Pereless Systems` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `699`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Pereless Systems has been a provider of talent acquisition solutions for over a decade and our joint clients utilize a seamless integration of Sterling Talent Solutions employment screening services.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Pereless Systems` `Integration Partner` (ID: 698)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `MyPayrollHR`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `MyPayrollHR`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `MyPayrollHR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `MyPayrollHR`</div>
<div class="progress-msg"><b>CREATING</b> `MyPayrollHR` `Integration Partner`</div>
<div class="progress-msg">Associate post `MyPayrollHR` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `701`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `&lt;p&gt;MyPayrollHR’s internet payroll solution marries a powerful and intuitive web-based human resource and payroll software application with the convenience of services typically offered by payroll outsourcing providers.&lt;/p&gt;

&lt;p&gt;It is designed exclusively for growing companies that have outgrown their small business payroll service but want to retain the benefits of outsourcing payroll, as well as gain access to a sophisticated HR software solution to help manage an expanding workforce.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Companies currently using payroll software for small business will benefit from the lower maintenance costs and improved security that our internet payroll solution has to offer.&lt;/p&gt;`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `MyPayrollHR` `Integration Partner` (ID: 700)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Oracle`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Oracle`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Oracle`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Oracle`</div>
<div class="progress-msg"><b>CREATING</b> `Oracle` `Integration Partner`</div>
<div class="progress-msg">Associate post `Oracle` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `703`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Over 500 Oracle Cloud clients are using Sterling Solutions integration with Talent Acquisition Cloud (fka Taleo Enterprise Edition) – Recruiting and Talent Acquisition for Midsize Cloud (fka Taleo Business Edition) – Recruiting. Our partnership with Oracle provides a single vendor platform to joint clients.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Oracle` `Integration Partner` (ID: 702)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Newton`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Newton`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Newton`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Newton`</div>
<div class="progress-msg"><b>CREATING</b> `Newton` `Integration Partner`</div>
<div class="progress-msg">Associate post `Newton` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `705`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Newton Software is the leading provider of applicant tracking system software for small and medium-size businesses. Newton’s ATS is fully-featured, optimized for mobile use and specifically designed to help SMB’s hire. Since 2009, Newton has worked with recruiting leaders to develop software that improves the hiring process by offering powerful products that are easy-to-use, easy-to-purchase and easy-to-activate. Newton’s software is used by over 2,000 employers that enjoy an intuitive product, free customer support, and constant innovation. In 2017, our goal remains to build technology that makes recruiting more transparent, efficient and empowers professionals to do their jobs more effectively.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Newton` `Integration Partner` (ID: 704)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Kwantek`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Kwantek`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Kwantek`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Kwantek`</div>
<div class="progress-msg"><b>CREATING</b> `Kwantek` `Integration Partner`</div>
<div class="progress-msg">Associate post `Kwantek` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `707`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Kwantek specializes in industries with large volumes of hourly wage employees performing similar jobs. Our industry expertise includes: Security Guards, Building Services/Janitorial, Manufacturing, Call Center Operations and Long Term/Home Health Care among others. Kwantek has built a simplified PreHire Solution focused on the Job Seeker Experience which maximizes Completed Applications. The result, our clients select from a larger pool of Applicants to fill their open positions. Employers can manage all facets of their PreHire Workflow including Applicant Tracking, Assessment Analysis, Background Screening, Work Opportunity Tax Credits and E-Verify without the need for each System User to have multiple usernames and passwords. For simple, end-to-end integration which is efficiently administered, Kwantek is the perfect fit for your growing business.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Kwantek` `Integration Partner` (ID: 706)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Kronos`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Kronos`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Kronos`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Kronos`</div>
<div class="progress-msg"><b>CREATING</b> `Kronos` `Integration Partner`</div>
<div class="progress-msg">Associate post `Kronos` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `709`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Kronos Workforce Talent Acquisition™ is a web-based, end-to-end solution used to source, screen, assess, hire, and onboard employees quickly and efficiently with a proven ROI. Its complete hiring management console provides hiring managers and recruiters with a single interface for managing both hourly and salaried hiring as part of one, unified hiring solution that provides a richer candidate experience and results in higher-quality, best-fit hires. Kronos is the global leader in delivering workforce management solutions in the cloud. Learn more about Kronos industry-specific time and attendance, scheduling, absence management, HR and payroll, hiring, and labor analytics applications at www.kronos.com. Kronos: Workforce Innovation That Works™.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Kronos` `Integration Partner` (ID: 708)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Jobvite`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Jobvite`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Jobvite`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Jobvite`</div>
<div class="progress-msg"><b>CREATING</b> `Jobvite` `Integration Partner`</div>
<div class="progress-msg">Associate post `Jobvite` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `711`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Jobvite is the leading recruiting software company that empowers emerging, mid-market, and enterprise companies to source and hire top talent easily, efficiently, and effectively. Our comprehensive and analytics-driven recruiting platform accelerates recruiting with a Candidate Recruitment Marketing (CRM) tool, an easy-to-use Applicant Tracking System (ATS), social recruiting capabilities, mobile-optimized career sites, an employment branding solution, on- demand video screening, onboarding, and seamless integration with other HR systems. Focused exclusively on recruiting software since 2006 and headquartered in San Mateo, Jobvite has thousands of customers including LinkedIn, Schneider Electric, Amway, Zappos, and GoDaddy.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Jobvite` `Integration Partner` (ID: 710)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Jobscience`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Jobscience`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Jobscience`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Jobscience`</div>
<div class="progress-msg"><b>CREATING</b> `Jobscience` `Integration Partner`</div>
<div class="progress-msg">Associate post `Jobscience` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `713`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Jobscience, a market leader in automated workforce management, provides a comprehensive suite of web-based products and services that meet the needs of any sized business across any industry. Offering best-in-class technology designed to streamline current recruiting processes while reducing hiring costs, the Jobscience solution is flexible enough to integrate with current third-party applications and robust enough to stand alone. World-class security, disaster recovery and 24/7 availability provide a complete, affordable employee management solution.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Jobscience` `Integration Partner` (ID: 712)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Jobaline`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Jobaline`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Jobaline`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Jobaline`</div>
<div class="progress-msg"><b>CREATING</b> `Jobaline` `Integration Partner`</div>
<div class="progress-msg">Associate post `Jobaline` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `715`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Through our integration, users can initiate Sterling Talent Solutions background screenings for candidates directly from the Jobaline.com mobile and bilingual recruiting solution and marketplace for hourly jobs.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Jobaline` `Integration Partner` (ID: 714)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Infor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Infor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Infor`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Infor`</div>
<div class="progress-msg"><b>CREATING</b> `Infor` `Integration Partner`</div>
<div class="progress-msg">Associate post `Infor` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `717`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Whether a large enterprise or a single franchise location, Infor clients are using the Sterling Talent Solutions solution to bring a powerful, integrated hiring management experience to their users`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Infor` `Integration Partner` (ID: 716)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `iCIMS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `iCIMS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `iCIMS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `iCIMS`</div>
<div class="progress-msg"><b>CREATING</b> `iCIMS` `Integration Partner`</div>
<div class="progress-msg">Associate post `iCIMS` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `719`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions is proud to be a Premier Partner of iCIMS, the leading provider of talent acquisition solutions that help businesses win the war for top talent, and offer an integration into the iCIMS Talent Platform. iCIMS empowers companies to manage their hiring process within the industry’s most robust Platform-as-a-Service (PaaS). Built on the foundation of a talent acquisition software suite that’s designed to be the best, iCIMS PaaS framework, UNIFi, allows employers to expand the capabilities of their core talent acquisition technology by integrating with the largest partner ecosystem in talent acquisition to help them attract, find, screen, and manage candidates. Offering scalable, easy-to-use solutions that are backed by award-winning customer service, iCIMS supports more than 3,500 contracted customers and is one of the largest and fastest-growing talent acquisition providers.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `iCIMS` `Integration Partner` (ID: 718)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `IBM Kenexa`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `IBM Kenexa`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `IBM Kenexa`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `IBM Kenexa`</div>
<div class="progress-msg"><b>CREATING</b> `IBM Kenexa` `Integration Partner`</div>
<div class="progress-msg">Associate post `IBM Kenexa` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `721`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `IBM Kenexa – World leading talent management solutions that help organizations source, attract, hire, engage and grow the best people for their organization who will continue to innovate and improve business performance.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `IBM Kenexa` `Integration Partner` (ID: 720)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Greenhouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Greenhouse`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Greenhouse`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Greenhouse`</div>
<div class="progress-msg"><b>CREATING</b> `Greenhouse` `Integration Partner`</div>
<div class="progress-msg">Associate post `Greenhouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `723`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Greenhouse is one of the fastest-growing talent acquisition providers in the market. Our partnership gives customers an integrated solution that allows them to manage the entire hiring process.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Greenhouse` `Integration Partner` (ID: 722)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Erecruit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Erecruit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Erecruit`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Erecruit`</div>
<div class="progress-msg"><b>CREATING</b> `Erecruit` `Integration Partner`</div>
<div class="progress-msg">Associate post `Erecruit` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `725`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions and Erecruit provide our staffing customers with integrated solutions that allow faster placements, reduce overall costs and improve productivity.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Erecruit` `Integration Partner` (ID: 724)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cornerstone`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cornerstone`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Cornerstone`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cornerstone`</div>
<div class="progress-msg"><b>CREATING</b> `Cornerstone` `Integration Partner`</div>
<div class="progress-msg">Associate post `Cornerstone` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `727`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `&lt;p&gt;Cornerstone OnDemand (NASDAQ: CSOD) helps organizations to recruit, train and manage their people. We work with hundreds of the world’s largest companies—from Walgreens and Starwood Hotels &amp; Resorts to Deutsche Post DHL and Xerox—and thousands of smaller ones to help them engage their workforces and empower their people. Our software impacts every aspect of the employee experience, helping people to make their best work even better – which ultimately translates into greater business results.&lt;/p&gt;

&lt;p&gt;Along with corporations, we work with government agencies, hospitals, non-profits and schools to more effectively manage the entire employee lifecycle. Our software and services are in use by over 31.03 million people in 191 countries and in 43 languages.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Since 1999, Cornerstone has been an innovator in cloud technology. It’s the only way we deliver our products, and we’re proud of that. With pure Software-as-a-Service, clients are always on the latest version of Cornerstone, they reduce IT and maintenance costs, and they can easily integrate with any other technology platforms. And, users can conveniently access our software anytime, anywhere and on any device.&lt;/p&gt;`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Cornerstone` `Integration Partner` (ID: 726)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Compli`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Compli`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Compli`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Compli`</div>
<div class="progress-msg"><b>CREATING</b> `Compli` `Integration Partner`</div>
<div class="progress-msg">Associate post `Compli` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `729`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Serving over 1,700 client locations in 50 states, and managing over 225,000 employee personnel files, Compli is the nation’s trusted provider of on-demand HR and compliance management software. Compli’s web-based platform simplifies workforce and compliance management throughout the entire employment lifecycle by automating the distribution and tracking of policies, forms and trainings. Compli standardizes key business processes, creating actionable information and intelligence to drive productivity, reduce risk and increase profits.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Compli` `Integration Partner` (ID: 728)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ceridian`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ceridian`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ceridian`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ceridian`</div>
<div class="progress-msg"><b>CREATING</b> `Ceridian` `Integration Partner`</div>
<div class="progress-msg">Associate post `Ceridian` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `731`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions has integrated its employment screening services with Ceridian’s Talent Acquisition and Management services. Ceridian’s Talent Acquisition Suite is a powerful, modular talent management solution. The benefit: employers can seamlessly initiate background checks without leaving the Talent Acquisition Suite system. The solution eliminates redundant data entry and associated errors, and speeds the employment screening process. Results are posted back to you through the system, enabling you to manage the hiring workflow and employment screening through a single platform.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ceridian` `Integration Partner` (ID: 730)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bullhorn`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bullhorn`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Bullhorn`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bullhorn`</div>
<div class="progress-msg"><b>CREATING</b> `Bullhorn` `Integration Partner`</div>
<div class="progress-msg">Associate post `Bullhorn` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `733`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Sterling Talent Solutions and Bullhorn offer joint clients solutions that free up time to do more business development and fulfill more orders. Join other Bullhorn customers seeing improvements.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bullhorn` `Integration Partner` (ID: 732)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `BeaconInsight`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `BeaconInsight`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BeaconInsight`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `BeaconInsight`</div>
<div class="progress-msg"><b>CREATING</b> `BeaconInsight` `Integration Partner`</div>
<div class="progress-msg">Associate post `BeaconInsight` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `735`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `BeaconInsight is a comprehensive workforce management system that enables organizations to efficiently manage hiring, onboarding, and training and qualification compliance. The Insight platform automates manual processes, enabling your team to focus on higher value activities by providing on-demand access to applicant and employee information for analysis, reporting and auditing.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `BeaconInsight` `Integration Partner` (ID: 734)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Agile HR`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Agile HR`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Agile HR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Agile HR`</div>
<div class="progress-msg"><b>CREATING</b> `Agile HR` `Integration Partner`</div>
<div class="progress-msg">Associate post `Agile HR` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `737`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value `Agile HR helps organizations recruit, onboard, and manage top talent without the stress and expense of clunky enterprise level systems. Built for the SMB marketplace, our priority and focus has been on creating systems that make employers and employees better at what they do. Agile provides a robust, integrated online applicant tracking, hiring, and performance management system that reduces the amount of time companies spend sourcing and managing employees. The integrated suite also includes an HRIS, a career portal that seamlessly incorporates with any company’s website as well as major job listing sites and an extensive reporting module that places the data right at user’s fingertips! The Agile HR Suite is the perfect solution for any business.`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `Strategic Integrations`, duplicate detected. Importing Integration Partner to existing `Strategic Integrations` integration_category, ID 21, slug `strategic-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Agile HR` `Integration Partner` (ID: 736)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Acuity`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Acuity`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Acuity`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Acuity`</div>
<div class="progress-msg"><b>CREATING</b> `Acuity` `Integration Partner`</div>
<div class="progress-msg">Associate post `Acuity` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `739`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Creating parent Integration Partner integration_category `System Integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Acuity` `Integration Partner` (ID: 738)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `HRNX`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `HRNX`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HRNX`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `HRNX`</div>
<div class="progress-msg"><b>CREATING</b> `HRNX` `Integration Partner`</div>
<div class="progress-msg">Associate post `HRNX` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `741`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `System Integrations`, duplicate detected. Importing Integration Partner to existing `System Integrations` integration_category, ID 22, slug `system-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `HRNX` `Integration Partner` (ID: 740)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Newbury`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Newbury`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Newbury`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Newbury`</div>
<div class="progress-msg"><b>CREATING</b> `Newbury` `Integration Partner`</div>
<div class="progress-msg">Associate post `Newbury` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `743`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `System Integrations`, duplicate detected. Importing Integration Partner to existing `System Integrations` integration_category, ID 22, slug `system-integrations` ...</div>
<div class="progress-msg"><b>CREATED</b> `Newbury` `Integration Partner` (ID: 742)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `BeaconInsight`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `BeaconInsight`...</div>
<div class="progress-msg">Duplicate post was found for post BeaconInsight with unique key `BeaconInsight`...</div>
<div class="progress-msg">Deleting attachments for `BeaconInsight`</div>
<div class="progress-msg">Deleting images for `BeaconInsight`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `BeaconInsight`</div>
<div class="progress-msg"><b>UPDATING</b> `BeaconInsight` `Integration Partner`</div>
<div class="progress-msg">Associate post `BeaconInsight` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `integration_partner_image`</div>
<div class="progress-msg">- Field `integration_partner_image` updated with value `744`</div>
<div class="progress-msg">- Importing field `integration_partner_description`</div>
<div class="progress-msg">- Field `integration_partner_description` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `integration_category` ...</div>
<div class="progress-msg">- Attempted to create parent Integration Partner integration_category `System Integrations`, duplicate detected. Importing Integration Partner to existing `System Integrations` integration_category, ID 22, slug `system-integrations` ...</div>
<div class="progress-msg"><b>UPDATED</b> `BeaconInsight` `Integration Partner` (ID: 734)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
