<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Downloads Categories` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `I-9 Audit Survival Guide: What You Need to Know`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `I-9 Audit Survival Guide: What You Need to Know`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `I-9 Audit Survival Guide: What You Need to Know`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `I-9 Audit Survival Guide: What You Need to Know`</div>
<div class="progress-msg"><b>CREATING</b> `I-9 Audit Survival Guide: What You Need to Know` `Download`</div>
<div class="progress-msg">Associate post `I-9 Audit Survival Guide: What You Need to Know` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `I-9 Audit Survival Guide: What You Need to Know`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Learn everything you need to know about the I-9 audit process, including preparation and remediation, in this guide.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Creating parent Download downloads_category `White Paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `I-9 Audit Survival Guide: What You Need to Know` `Download` (ID: 612)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy`</div>
<div class="progress-msg"><b>CREATING</b> `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy` `Download`</div>
<div class="progress-msg">Associate post `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `With the onset of marijuana legalization, this white paper walks you through what to think though as you screen your candidate and employees.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Marijuana Legalization: Why It’s High Time You Reviewed Your Company’s Drug Policy` `Download` (ID: 613)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `eBook: Background Screening 101`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `eBook: Background Screening 101`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `eBook: Background Screening 101`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `eBook: Background Screening 101`</div>
<div class="progress-msg"><b>CREATING</b> `eBook: Background Screening 101` `Download`</div>
<div class="progress-msg">Associate post `eBook: Background Screening 101` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `eBook: Background Screening 101`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Find out everything you want to know about background screening in this comprehensive eBook.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Creating parent Download downloads_category `E-Book` ...</div>
<div class="progress-msg"><b>CREATED</b> `eBook: Background Screening 101` `Download` (ID: 614)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Background Screening Trends & Best Practices Report 2015`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Background Screening Trends & Best Practices Report 2015`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Background Screening Trends & Best Practices Report 2015`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Background Screening Trends & Best Practices Report 2015`</div>
<div class="progress-msg"><b>CREATING</b> `Background Screening Trends & Best Practices Report 2015` `Download`</div>
<div class="progress-msg">Associate post `Background Screening Trends & Best Practices Report 2015` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Background Screening Trends &amp; Best Practices Report 2015`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Explore current trends, best practices, compliance concerns and emerging threats that impact hiring programs in our exclusive report.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Creating parent Download downloads_category `Trend Report` ...</div>
<div class="progress-msg"><b>CREATED</b> `Background Screening Trends & Best Practices Report 2015` `Download` (ID: 615)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Danger in the Details: Form I-9 Mistakes That Can Cost You`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Danger in the Details: Form I-9 Mistakes That Can Cost You`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Danger in the Details: Form I-9 Mistakes That Can Cost You`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Danger in the Details: Form I-9 Mistakes That Can Cost You`</div>
<div class="progress-msg"><b>CREATING</b> `Danger in the Details: Form I-9 Mistakes That Can Cost You` `Download`</div>
<div class="progress-msg">Associate post `Danger in the Details: Form I-9 Mistakes That Can Cost You` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Danger in the Details: Form I-9 Mistakes That Can Cost You`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `In this white paper, we examine I-9 violations and provide you with tips to prevent your company from making the same mistakes.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Danger in the Details: Form I-9 Mistakes That Can Cost You` `Download` (ID: 616)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fingerprints vs. Name-Based Background Checks: And The Winner Is…`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fingerprints vs. Name-Based Background Checks: And The Winner Is…`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Fingerprints vs. Name-Based Background Checks: And The Winner Is…`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fingerprints vs. Name-Based Background Checks: And The Winner Is…`</div>
<div class="progress-msg"><b>CREATING</b> `Fingerprints vs. Name-Based Background Checks: And The Winner Is…` `Download`</div>
<div class="progress-msg">Associate post `Fingerprints vs. Name-Based Background Checks: And The Winner Is…` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Fingerprints vs. Name-Based Background Checks: And The Winner Is…`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Get a side-by-side comprehensive comparison of name-based and fingerprint-based background checks. See the winner now.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fingerprints vs. Name-Based Background Checks: And The Winner Is…` `Download` (ID: 617)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Age of the Millennials: 7 Tips for Screening an Emerging Generation`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Age of the Millennials: 7 Tips for Screening an Emerging Generation`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Age of the Millennials: 7 Tips for Screening an Emerging Generation`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Age of the Millennials: 7 Tips for Screening an Emerging Generation`</div>
<div class="progress-msg"><b>CREATING</b> `Age of the Millennials: 7 Tips for Screening an Emerging Generation` `Download`</div>
<div class="progress-msg">Associate post `Age of the Millennials: 7 Tips for Screening an Emerging Generation` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Age of the Millennials: 7 Tips for Screening an Emerging Generation`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Millennials are the biggest generation in the US workforce. Explore the six best practices to improve their screening processes and minimize legal risk.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Age of the Millennials: 7 Tips for Screening an Emerging Generation` `Download` (ID: 618)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Research Report: Employment Background Checks: Survey of American Citizens`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Research Report: Employment Background Checks: Survey of American Citizens`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Research Report: Employment Background Checks: Survey of American Citizens`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Research Report: Employment Background Checks: Survey of American Citizens`</div>
<div class="progress-msg"><b>CREATING</b> `Research Report: Employment Background Checks: Survey of American Citizens` `Download`</div>
<div class="progress-msg">Associate post `Research Report: Employment Background Checks: Survey of American Citizens` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Research Report: Employment Background Checks: Survey of American Citizens`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `We surveyed 1,000+ Americans to illuminate how consumers really feels about background screening. Get the results in this study.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Research Report: Employment Background Checks: Survey of American Citizens` `Download` (ID: 619)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `On The Issues: Background Screening & Politics`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `On The Issues: Background Screening & Politics`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `On The Issues: Background Screening & Politics`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `On The Issues: Background Screening & Politics`</div>
<div class="progress-msg"><b>CREATING</b> `On The Issues: Background Screening & Politics` `Download`</div>
<div class="progress-msg">Associate post `On The Issues: Background Screening & Politics` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `On The Issues: Background Screening &amp; Politics`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Get the latest look at background screening within the context of the hottest political topics, including homeland security, gun control, safety and more.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `On The Issues: Background Screening & Politics` `Download` (ID: 620)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ban the Box Is out of Control: What You Need to Know to Protect Your Business`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ban the Box Is out of Control: What You Need to Know to Protect Your Business`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ban the Box Is out of Control: What You Need to Know to Protect Your Business`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ban the Box Is out of Control: What You Need to Know to Protect Your Business`</div>
<div class="progress-msg"><b>CREATING</b> `Ban the Box Is out of Control: What You Need to Know to Protect Your Business` `Download`</div>
<div class="progress-msg">Associate post `Ban the Box Is out of Control: What You Need to Know to Protect Your Business` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `Ban the Box Is out of Control: What You Need to Know to Protect Your Business`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Ban the Box laws can be confusing. Get a clear understanding of what’s at stake and the actions you should consider taking to protect your organization.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `White Paper`, duplicate detected. Importing Download to existing `White Paper` downloads_category, ID 17, slug `white-paper` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ban the Box Is out of Control: What You Need to Know to Protect Your Business` `Download` (ID: 621)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `U.S. Background Screening Policy Considerations`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `U.S. Background Screening Policy Considerations`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `U.S. Background Screening Policy Considerations`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `U.S. Background Screening Policy Considerations`</div>
<div class="progress-msg"><b>CREATING</b> `U.S. Background Screening Policy Considerations` `Download`</div>
<div class="progress-msg">Associate post `U.S. Background Screening Policy Considerations` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `U.S. Background Screening Policy Considerations`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `Creating an employment background screening program can seem complex. Here are 19 items to consider when creating your employee background check policy.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Attempted to create parent Download downloads_category `E-Book`, duplicate detected. Importing Download to existing `E-Book` downloads_category, ID 18, slug `e-book` ...</div>
<div class="progress-msg"><b>CREATED</b> `U.S. Background Screening Policy Considerations` `Download` (ID: 622)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Essential Onboarding Checklist for Your New Hire`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Essential Onboarding Checklist for Your New Hire`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The Essential Onboarding Checklist for Your New Hire`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `The Essential Onboarding Checklist for Your New Hire`</div>
<div class="progress-msg"><b>CREATING</b> `The Essential Onboarding Checklist for Your New Hire` `Download`</div>
<div class="progress-msg">Associate post `The Essential Onboarding Checklist for Your New Hire` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `download_title`</div>
<div class="progress-msg">- Field `download_title` updated with value `The Essential Onboarding Checklist for Your New Hire`</div>
<div class="progress-msg">- Importing field `download_description`</div>
<div class="progress-msg">- Field `download_description` updated with value `A good onboarding experience is key to employee morale and retention. Explore our comprehensive checklist of to-do items to set the stage for success.`</div>
<div class="progress-msg">- Importing field `download_url`</div>
<div class="progress-msg">- Field `download_url` updated with value ``</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `downloads_category` ...</div>
<div class="progress-msg">- Creating parent Download downloads_category `Checklist` ...</div>
<div class="progress-msg"><b>CREATED</b> `The Essential Onboarding Checklist for Your New Hire` `Download` (ID: 623)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
