<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `GV Prasad`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `GV Prasad`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `GV Prasad`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `GV Prasad`</div>
<div class="progress-msg"><b>CREATING</b> `GV Prasad` `Executive Member`</div>
<div class="progress-msg">Associate post `GV Prasad` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `CEO India &amp; Global Head of Operations`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `GV Prasad joined Sterling Talent Solutions in 2016 as the CEO India and Global Head of Operations. GV is a Thought leader with over 23 years of rich experience in Operations, Client Relationship Management, Business Transformation and Sales. Prior to joining Sterling, GV served as the CEO of AXA Business Services and worked with organizations like IBM Daksh, eFunds International India, Hutchison Essar Telecom and Honda Siel Power products.

GV holds a Bachelor’s degree in Physics from University of Delhi and is an MBA from Institute of Management &amp; Technology Ghaziabad, India.`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `589`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `GV Prasad` `Executive Member` (ID: 588)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Lou Paglia`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Lou Paglia`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Lou Paglia`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Lou Paglia`</div>
<div class="progress-msg"><b>CREATING</b> `Lou Paglia` `Executive Member`</div>
<div class="progress-msg">Associate post `Lou Paglia` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Innovation Officer and President of SureID`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `Lou serves as Executive Vice President, Ventures after joining Sterling Talent Solutions in October, 2015. Lou leads an organization responsible for incubating and driving emerging lines of business for the company such as Verified Volunteers, Bishops and Kennect. He is a product, operations and general management executive with significant experience in web, data and technology. He’s previously held executive roles at Jirafe, Infogroup, Snagajob, Dow Jones Factiva, MTV Networks and About.com. Lou has an MBA from MIT Sloan School of Management and a BBA from James Madison University in Computer Information Systems.`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `591`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Lou Paglia` `Executive Member` (ID: 590)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Billy Goldstein`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Billy Goldstein`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Billy Goldstein`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Billy Goldstein`</div>
<div class="progress-msg"><b>CREATING</b> `Billy Goldstein` `Executive Member`</div>
<div class="progress-msg">Associate post `Billy Goldstein` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Executive Vice President of Acquisitions and Mergers`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Billy joined Sterling Talent Solutions in 2015 to lead the company’s mergers, acquisitions and corporate development efforts. He brings more than 20 years of experience working with technology, media and telecom companies as an investment banker at top global investment banks including Goldman Sachs, Macquarie Capital and J.P. Morgan. By executing M&amp;A transactions with an aggregate value of $100 billion and raising more than $36 billion in debt and equity, Billy has helped many companies grow faster and more strategically.&lt;/p&gt;

&lt;p&gt;Before joining Sterling Talent Solutions, Billy led Persevent Group LLC, a boutique advisory and investment firm serving TMT companies, as its chief executive officer. He also held roles at Star Mountain Capital, an investment management firm, and was Managing Director, Head of North America Telecom Merchant Banking at Macquarie Capital. From 1998 through 2009, Billy was with Goldman Sachs where he was a Managing Director in the Investment Banking Division’s Telecom, Media and Technology group.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Billy holds an MBA from Harvard Business School, and a BSE in electrical engineering from the University of Pennsylvania, where he graduated summa cum laude.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `593`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Billy Goldstein` `Executive Member` (ID: 592)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Danielle Korins`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Danielle Korins`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Danielle Korins`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Danielle Korins`</div>
<div class="progress-msg"><b>CREATING</b> `Danielle Korins` `Executive Member`</div>
<div class="progress-msg">Associate post `Danielle Korins` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Human Resources Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Danielle Korins focuses on people, HR and driving great culture, including talent acquisition and development, employee engagement and metric driven People management worldwide. Her goals is to help employees feel connected with their employer and drives programs that encourage purpose and passion across international companies.&lt;/p&gt;

&lt;p&gt;Throughout her career she has built positive, innovative cultures across multiple verticals, including technology, banking, medical devices, fashion and media. She has a strong passion achieving business objectives through a strategic lens powered by people and technology. Her previous companies include Yodle, PVH Corp, Dow Jones, Bank of America and Smith &amp; Nephew.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;She holds a Bachelor in Business from Isenbreg School of Management, UMass Amherst and an Executive business certificate program from MIT – Sloan School of Management.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `595`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Danielle Korins` `Executive Member` (ID: 594)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `David Feder`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `David Feder`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `David Feder`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `David Feder`</div>
<div class="progress-msg"><b>CREATING</b> `David Feder` `Executive Member`</div>
<div class="progress-msg">Associate post `David Feder` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Marketing Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;David is responsible for global marketing efforts at Sterling Talent Solutions. An innovative global marketer with more than 15 years of experience helping companies grow, he is an expert at bringing- to-bear an empathetic voice-of-the-customer orientation to integrated marketing, digital transformation, product innovation and solving complex business problems. Prior to joining Sterling, David held senior marketing positions at Blackboard, FICO and Autodesk. David has been a Big Brother since 2011 and served on the Board of Directors of Big Brothers Big Sisters of the Bay Area.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;David holds a Bachelor of Arts degree in Philosophy from the State University of New York at Albany.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `597`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `David Feder` `Executive Member` (ID: 596)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vikas Vig`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vikas Vig`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Vikas Vig`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Vikas Vig`</div>
<div class="progress-msg"><b>CREATING</b> `Vikas Vig` `Executive Member`</div>
<div class="progress-msg">Associate post `Vikas Vig` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Fulfillment Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Vikas joined Sterling Talent Solutions in 2003 and leads the organization’s efforts to integrate clients, people, platforms and technology across all acquired companies. Prior to his role as EVP of M&amp;A Integrations, Vikas led Sterling Talent Solution’s global operations. He has a successful track record of ensuring delivery of products defect free, on-time and in a compliant and operationally efficient manner through application of Six Sigma principles.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Vikas is a graduate of the Wharton School Of Business’ Advanced Management Program &amp; holds a B.S. in Industrial Chemistry from the University of Mumbai.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `599`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Vikas Vig` `Executive Member` (ID: 598)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Alla Schay`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Alla Schay`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Alla Schay`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Alla Schay`</div>
<div class="progress-msg"><b>CREATING</b> `Alla Schay` `Executive Member`</div>
<div class="progress-msg">Associate post `Alla Schay` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Client Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Alla leads our Client Services and Account Management teams and is responsible for implementing strategies to improve our customers’ lives. She has served in many important roles at Sterling including Chief Operating Officer and most recently, Chief Human Resources Officer. It is this experience that allows her to directly relate to what is most important to our clients and their candidates. Alla is an operations management professional with rich experience in business process transformation, Six Sigma analysis and software and CRM implementation. Prior to Sterling Talent Solutions, she held senior and strategic positions at Wolters Kluwer Corporate Legal Services (CLS). In addition, Alla spent six years as a principal management consultant at PricewaterhouseCoopers (PwC).&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Alla holds Bachelor of Science degrees in Biology and Psychology from the College of William and Mary.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `601`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Alla Schay` `Executive Member` (ID: 600)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sravana Karnati`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sravana Karnati`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sravana Karnati`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sravana Karnati`</div>
<div class="progress-msg"><b>CREATING</b> `Sravana Karnati` `Executive Member`</div>
<div class="progress-msg">Associate post `Sravana Karnati` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Product &amp; Technology Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Sravana is responsible for all technical aspects of the organization including technology strategy, product development, innovation, technical support, IT infrastructure and security. He brings over 25 years of experience in delivering innovative technology solutions for companies such as Expedia, Disney, Amazon, and Oracle. Sravana’s expertise includes highly scalable &amp; secure systems, Agile &amp; DevOps methodologies, and cloud technologies.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Sravana holds a Ph.D. in AI Applications in Chemical Engineering from The Ohio State University, a Master of Technology degree in Chemical Engineering from Indian Institute of Technology, Madras and a Bachelor of Technology degree in Chemical Engineering from Anna University, Madras.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `603`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Sravana Karnati` `Executive Member` (ID: 602)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Steve Barnett`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Steve Barnett`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Steve Barnett`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Steve Barnett`</div>
<div class="progress-msg"><b>CREATING</b> `Steve Barnett` `Executive Member`</div>
<div class="progress-msg">Associate post `Steve Barnett` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Executive Vice President &amp; General Counsel`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Steve joined Sterling Talent Solutions in January 2016 after leading all aspects of legal, compliance, regulatory and government affairs at Jackson Hewitt Tax Service Inc. He brings experience in litigation, including class actions and government inquiries, as well as corporate transactional work and corporate governance. Steve has served as General Counsel and other positions for several companies, both public and private. He began his career as a corporate lawyer with Skadden Arps in New York where he specialized in structuring and negotiating corporate transactions, including public and private mergers &amp; acquisitions and corporate finance transactions.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;Steve received his law degree from Fordham University School of Law in New York and a B.S in Finance from the State University of NY at Albany.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `605`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Steve Barnett` `Executive Member` (ID: 604)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Daniel P. O’Brien`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Daniel P. O’Brien`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Daniel P. O’Brien`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Daniel P. O’Brien`</div>
<div class="progress-msg"><b>CREATING</b> `Daniel P. O’Brien` `Executive Member`</div>
<div class="progress-msg">Associate post `Daniel P. O’Brien` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chief Financial Officer`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `Before joining Sterling Talent Solutions in 2014, Dan spent much of his career in the telecommunications industry as CFO of Hawaiian Telcom, a former Verizon subsidiary, Global Crossing, Genuity and GTE Corporation. Most recently, Dan served as CFO of Jackson Hewitt, the tax preparation firm. Daniel holds an M.B.A. from the University of Chicago Graduate School of Business and a B.S. from Boston College.`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `607`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Daniel P. O’Brien` `Executive Member` (ID: 606)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Richard Seldon`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Richard Seldon`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Richard Seldon`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Richard Seldon`</div>
<div class="progress-msg"><b>CREATING</b> `Richard Seldon` `Executive Member`</div>
<div class="progress-msg">Associate post `Richard Seldon` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `President`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;President of Sterling Talent Solutions and primary revenue architect for the past 16 years, he has built the company’s client list to more than 50,000 companies, including 28% of the Fortune 500.&lt;/p&gt;
&lt;p&gt;Richard believes in the fundamental importance of building transparent, effective relationships with clients and partners. As chair of the Sterling Talent Solutions Customer Advisory Board, he leads of an advisory group that includes some of the world’s largest employers and is focused on addressing pressing questions surrounding background screening. He is a sought-after speaker and commentator on hiring practices, background screening and policy development.&lt;/p&gt;
&lt;p class=&quot;mb-0&quot;&gt;Richard earned a B.A. and M.B.A. in Marketing from Hofstra University.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `609`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Richard Seldon` `Executive Member` (ID: 608)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `William Greenblatt`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `William Greenblatt`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `William Greenblatt`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `William Greenblatt`</div>
<div class="progress-msg"><b>CREATING</b> `William Greenblatt` `Executive Member`</div>
<div class="progress-msg">Associate post `William Greenblatt` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `executive_member_title`</div>
<div class="progress-msg">- Field `executive_member_title` updated with value `Chairman and CEO`</div>
<div class="progress-msg">- Importing field `executive_member_description`</div>
<div class="progress-msg">- Field `executive_member_description` updated with value `&lt;p&gt;Billy founded Sterling in 1975 and has served as its Chairman since 2014. With more than 40 years of experience, Greenblatt is widely considered to be one of the pioneers of the background screening industry. Under his leadership, the company fundamentally transformed the way companies, both large and small, hire and retain the best talent for their organizations. In 2018 he returned to the role of CEO to lead the company through its next phase of growth.&lt;/p&gt;

&lt;p class=&quot;mb-0&quot;&gt;In June of 2006, Billy was honored by Ernst and Young as the Entrepreneur of the Year. He holds a Bachelor’s degree from the University of Maryland and a JD from Benjamin Cardozo School of Law.&lt;/p&gt;`</div>
<div class="progress-msg">- Importing field `executive_member_image`</div>
<div class="progress-msg">- Field `executive_member_image` updated with value `611`</div>
<div class="progress-msg">- Importing field `executive_member_linkedin_url`</div>
<div class="progress-msg">- Field `executive_member_linkedin_url` updated with value ``</div>
<div class="progress-msg">- Importing field `executive_member_email_address`</div>
<div class="progress-msg">- Field `executive_member_email_address` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `William Greenblatt` `Executive Member` (ID: 610)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
