<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Graebel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Graebel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Graebel`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Graebel`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Graebel` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Graebel` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Graebel`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `I-9 Remediation can be a time intensive process. For Graebel Companies, outsourcing the remediation and moving to an electronic I-9 solution has saved them countless hours. With Sterling Talent Solutions, Graebel’s process is much smoother and streamlined with a significant reduction in the amount of time spent collecting, filing and retrieving documents.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `625`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Graebel` `Case Study` (ID: 624)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Liberty Healthcare Management`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Liberty Healthcare Management`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Liberty Healthcare Management`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Liberty Healthcare Management`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Liberty Healthcare Management` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Liberty Healthcare Management` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Liberty Healthcare Management`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `Liberty Healthcare Management has multiple business lines and numerous locations so they needed a screening partner who could scale to meet their complex needs. By working with Sterling Talent Solutions, the once-cumbersome ordeal of processing and paying for hundreds of background checks across dozens of locations has become a truly seamless and easy experience. It has reduced ours of hand coding invoices into a few mouse-clicks.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `627`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value `https://www.sterlingtalentsolutions.com/wp-content/uploads/2017/08/CaseStudies-Liberty-Healthcare-Management.pdf`</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Liberty Healthcare Management` `Case Study` (ID: 626)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: TrustWave`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: TrustWave`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: TrustWave`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: TrustWave`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: TrustWave` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: TrustWave` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: TrustWave`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `A cumbersome and opaque hiring process was hurting Trustwave in an already highly competitive hiring market. Sterling Talent Solutions’ integration with their ATS enabled Trustwave to have a single dashboard to manage the entire employee lifecycle, while also cutting costs, reducing paperwork, and ensuring the secure handling of personal information.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `629`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: TrustWave` `Case Study` (ID: 628)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: BDS Marketing, Inc. (BDS)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: BDS Marketing, Inc. (BDS)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: BDS Marketing, Inc. (BDS)`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: BDS Marketing, Inc. (BDS)`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: BDS Marketing, Inc. (BDS)` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: BDS Marketing, Inc. (BDS)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: BDS Marketing, Inc. (BDS)`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `After experiencing significant growth, BDS Marketing looked to streamline its recruitment-to-hire process. In working with Sterling Talent Solutions and Oracle Taleo Business Edition Cloud Service, BDS has seen a reduction in cost, improved turnaround times for employment and drug screening, as well as a faster and more efficient recruitment-to-hire process.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `631`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: BDS Marketing, Inc. (BDS)` `Case Study` (ID: 630)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Car Sharing Network`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Car Sharing Network`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Car Sharing Network`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Car Sharing Network`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Car Sharing Network` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Car Sharing Network` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Car Sharing Network`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `One of the world’s leading car sharing networks was facing disparate systems and inconsistent processes for screening and onboarding. In working with Sterling Talent Solutions, they now have a one-stop cloud-based hiring solution that is integrated with their ATS and in line with the company’s green mission.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `633`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Car Sharing Network` `Case Study` (ID: 632)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Sun Communities`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Sun Communities`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Sun Communities`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Sun Communities`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Sun Communities` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Sun Communities` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Sun Communities`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `Inefficient processes and customer service woes led Sun Communities to search for an integrated solution with a better end-to-end experience. Through the integration between Sterling Talent Solutions and SuccessFactors, Sun Communities has a true partnership which has resulted in a dedicated account manager to handle identified issues, a drastic reduction in turnaround times for drug screening results, and a scalable solution for continued growth.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `635`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Sun Communities` `Case Study` (ID: 634)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Emerald Services`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Emerald Services`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Emerald Services`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Emerald Services`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Emerald Services` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Emerald Services` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Emerald Services`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `A paper-centric process and growing hiring need led Emerald Services to reevaluate their applicant tracking system and background screening provider. After vetting various vendors, Emerald chose to utilize the fully-integrated and turn-key solution that Sterling Talent Solutions and Oracle Taleo Business Edition Cloud Service provides.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `637`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Emerald Services` `Case Study` (ID: 636)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Mainstream Energy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Mainstream Energy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Mainstream Energy`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Mainstream Energy`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Mainstream Energy` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Mainstream Energy` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Mainstream Energy`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `Increased demand for Mainstream Energy’s solar products meant that quickly hiring candidates to scale in new regional markets was a must. By utilizing the integration between Sterling Talent Solutions and Oracle, Mainstream Energy saw a reduction in cost, increased turnaround time and the ability to meet project labor demands.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `639`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Mainstream Energy` `Case Study` (ID: 638)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Case Study: Health Services Company`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Case Study: Health Services Company`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Case Study: Health Services Company`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Case Study: Health Services Company`</div>
<div class="progress-msg"><b>CREATING</b> `Case Study: Health Services Company` `Case Study`</div>
<div class="progress-msg">Associate post `Case Study: Health Services Company` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `case_study_title`</div>
<div class="progress-msg">- Field `case_study_title` updated with value `Case Study: Health Services Company`</div>
<div class="progress-msg">- Importing field `case_study_description`</div>
<div class="progress-msg">- Field `case_study_description` updated with value `A Medical Device Contract Staffing Company builds, deploys, manages and measures world-class contract clinical, field technical and recall teams for the medical device and diagnostic industries.`</div>
<div class="progress-msg">- Importing field `case_study_image`</div>
<div class="progress-msg">- Field `case_study_image` updated with value `641`</div>
<div class="progress-msg">- Importing field `case_study_url`</div>
<div class="progress-msg">- Field `case_study_url` updated with value ``</div>
<div class="progress-msg"><b>CREATED</b> `Case Study: Health Services Company` `Case Study` (ID: 640)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
