<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Acquires AISS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Acquires AISS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Acquires AISS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Acquires AISS`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Acquires AISS` `News`</div>
<div class="progress-msg">Associate post `Sterling Acquires AISS` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Acquires AISS` `News` (ID: 642)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Selects Cleveland for New Regional Headquarters`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Selects Cleveland for New Regional Headquarters`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Selects Cleveland for New Regional Headquarters`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Selects Cleveland for New Regional Headquarters`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Selects Cleveland for New Regional Headquarters` `News`</div>
<div class="progress-msg">Associate post `Sterling Selects Cleveland for New Regional Headquarters` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Selects Cleveland for New Regional Headquarters` `News` (ID: 643)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Infosystems Names Clare Hart President`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Infosystems Names Clare Hart President`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Infosystems Names Clare Hart President`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Infosystems Names Clare Hart President`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Infosystems Names Clare Hart President` `News`</div>
<div class="progress-msg">Associate post `Sterling Infosystems Names Clare Hart President` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Infosystems Names Clare Hart President` `News` (ID: 644)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sentinel - Winter, 2013-2014 Issue`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sentinel - Winter, 2013-2014 Issue`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sentinel - Winter, 2013-2014 Issue`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sentinel - Winter, 2013-2014 Issue`</div>
<div class="progress-msg"><b>CREATING</b> `Sentinel - Winter, 2013-2014 Issue` `News`</div>
<div class="progress-msg">Associate post `Sentinel - Winter, 2013-2014 Issue` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sentinel - Winter, 2013-2014 Issue` `News` (ID: 645)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Infosystems Changes Company Name to SterlingBackcheck`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Infosystems Changes Company Name to SterlingBackcheck`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Infosystems Changes Company Name to SterlingBackcheck`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Infosystems Changes Company Name to SterlingBackcheck`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Infosystems Changes Company Name to SterlingBackcheck` `News`</div>
<div class="progress-msg">Associate post `Sterling Infosystems Changes Company Name to SterlingBackcheck` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Infosystems Changes Company Name to SterlingBackcheck` `News` (ID: 646)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Showcases New Form I-9 Solution at Annual SHRM Conference` `News` (ID: 647)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck and REVAA Create Innovative Appraiser Background Screening Solution` `News` (ID: 648)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Goldman Sachs and CDPQ to Invest in SterlingBackcheck`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Goldman Sachs and CDPQ to Invest in SterlingBackcheck`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Goldman Sachs and CDPQ to Invest in SterlingBackcheck`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Goldman Sachs and CDPQ to Invest in SterlingBackcheck`</div>
<div class="progress-msg"><b>CREATING</b> `Goldman Sachs and CDPQ to Invest in SterlingBackcheck` `News`</div>
<div class="progress-msg">Associate post `Goldman Sachs and CDPQ to Invest in SterlingBackcheck` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Goldman Sachs and CDPQ to Invest in SterlingBackcheck` `News` (ID: 649)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Acquires EmployeeScreenIQ, a Global Provider of Background Screening Services Resources` `News` (ID: 650)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Announces Merger with TalentWise`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Announces Merger with TalentWise`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Announces Merger with TalentWise`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Announces Merger with TalentWise`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Announces Merger with TalentWise` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Announces Merger with TalentWise` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Announces Merger with TalentWise` `News` (ID: 651)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Acquires RISQ Group`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Acquires RISQ Group`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Acquires RISQ Group`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Acquires RISQ Group`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Acquires RISQ Group` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Acquires RISQ Group` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Acquires RISQ Group` `News` (ID: 652)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Acquires Verified Person Inc`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Acquires Verified Person Inc`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Acquires Verified Person Inc`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Acquires Verified Person Inc`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Acquires Verified Person Inc` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Acquires Verified Person Inc` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Acquires Verified Person Inc` `News` (ID: 653)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Named Top Background Screening Provider`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Named Top Background Screening Provider`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Named Top Background Screening Provider`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Named Top Background Screening Provider`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Named Top Background Screening Provider` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Named Top Background Screening Provider` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Named Top Background Screening Provider` `News` (ID: 654)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Opens New U.S. Operations Headquarters in Cleveland` `News` (ID: 655)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Wins Gold Stevie Award`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Wins Gold Stevie Award`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Wins Gold Stevie Award`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Wins Gold Stevie Award`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Wins Gold Stevie Award` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Wins Gold Stevie Award` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Wins Gold Stevie Award` `News` (ID: 656)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer`</div>
<div class="progress-msg"><b>CREATING</b> `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer` `News`</div>
<div class="progress-msg">Associate post `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Tom Burke Hired as Sterling Talent Solutions' Chief Operating Officer` `News` (ID: 657)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Agile HR Announces Partnership with Sterling Talent Solutions`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Agile HR Announces Partnership with Sterling Talent Solutions`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Agile HR Announces Partnership with Sterling Talent Solutions`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Agile HR Announces Partnership with Sterling Talent Solutions`</div>
<div class="progress-msg"><b>CREATING</b> `Agile HR Announces Partnership with Sterling Talent Solutions` `News`</div>
<div class="progress-msg">Associate post `Agile HR Announces Partnership with Sterling Talent Solutions` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Agile HR Announces Partnership with Sterling Talent Solutions` `News` (ID: 658)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Completes Merger with TalentWise`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Completes Merger with TalentWise`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Completes Merger with TalentWise`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Completes Merger with TalentWise`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Completes Merger with TalentWise` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Completes Merger with TalentWise` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Completes Merger with TalentWise` `News` (ID: 659)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Certified Under EU-U.S. Privacy Shield` `News` (ID: 660)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Infosystems Completes Acquisition of AISS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Infosystems Completes Acquisition of AISS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Infosystems Completes Acquisition of AISS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Infosystems Completes Acquisition of AISS`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Infosystems Completes Acquisition of AISS` `News`</div>
<div class="progress-msg">Associate post `Sterling Infosystems Completes Acquisition of AISS` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Infosystems Completes Acquisition of AISS` `News` (ID: 661)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Infosystems Acquires Checkwell Solutions Corporation`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Infosystems Acquires Checkwell Solutions Corporation`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Infosystems Acquires Checkwell Solutions Corporation`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Infosystems Acquires Checkwell Solutions Corporation`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Infosystems Acquires Checkwell Solutions Corporation` `News`</div>
<div class="progress-msg">Associate post `Sterling Infosystems Acquires Checkwell Solutions Corporation` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Infosystems Acquires Checkwell Solutions Corporation` `News` (ID: 662)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision` `News`</div>
<div class="progress-msg">Associate post `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingBackcheck Renames Company to Sterling Talent Solutions to Better Reflect New Strategic Vision` `News` (ID: 663)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Releases New eBook`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Releases New eBook`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Releases New eBook`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Releases New eBook`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Releases New eBook` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Releases New eBook` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Releases New eBook` `News` (ID: 664)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Customer Protection is Top Concern for U.S. Companies`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Customer Protection is Top Concern for U.S. Companies`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Customer Protection is Top Concern for U.S. Companies`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Customer Protection is Top Concern for U.S. Companies`</div>
<div class="progress-msg"><b>CREATING</b> `Customer Protection is Top Concern for U.S. Companies` `News`</div>
<div class="progress-msg">Associate post `Customer Protection is Top Concern for U.S. Companies` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Customer Protection is Top Concern for U.S. Companies` `News` (ID: 665)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Baltimore Ban the Box Update`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Baltimore Ban the Box Update`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Baltimore Ban the Box Update`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Baltimore Ban the Box Update`</div>
<div class="progress-msg"><b>CREATING</b> `Baltimore Ban the Box Update` `News`</div>
<div class="progress-msg">Associate post `Baltimore Ban the Box Update` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Baltimore Ban the Box Update` `News` (ID: 666)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Supports 2017 Candidate Experience Awards as Gold Sponsor` `News` (ID: 667)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Announces Angela Preston as Chair-Elect for 2017-2018 NAPBS Board of Directors` `News` (ID: 668)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Announces Integration with Ultimate Software's UltiPro` `News` (ID: 669)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Acuity Cloud Solutions and Sterling Talent Solutions Partnership`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Acuity Cloud Solutions and Sterling Talent Solutions Partnership`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Acuity Cloud Solutions and Sterling Talent Solutions Partnership`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Acuity Cloud Solutions and Sterling Talent Solutions Partnership`</div>
<div class="progress-msg"><b>CREATING</b> `Acuity Cloud Solutions and Sterling Talent Solutions Partnership` `News`</div>
<div class="progress-msg">Associate post `Acuity Cloud Solutions and Sterling Talent Solutions Partnership` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Acuity Cloud Solutions and Sterling Talent Solutions Partnership` `News` (ID: 670)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Acquires Commercial Segment Business of SureID`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Acquires Commercial Segment Business of SureID`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Acquires Commercial Segment Business of SureID`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Acquires Commercial Segment Business of SureID`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Acquires Commercial Segment Business of SureID` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Acquires Commercial Segment Business of SureID` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Acquires Commercial Segment Business of SureID` `News` (ID: 671)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SterlingONE Now Live on SAP® App Center`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SterlingONE Now Live on SAP® App Center`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SterlingONE Now Live on SAP® App Center`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SterlingONE Now Live on SAP® App Center`</div>
<div class="progress-msg"><b>CREATING</b> `SterlingONE Now Live on SAP® App Center` `News`</div>
<div class="progress-msg">Associate post `SterlingONE Now Live on SAP® App Center` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>CREATED</b> `SterlingONE Now Live on SAP® App Center` `News` (ID: 672)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2017/12/16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg` for `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2017/12/16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2017/12/16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/16766-ST-GBL-ART-Best-In-Business-PR-Image-840x600.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Wins Bronze Best in Biz Award for Best Place to Work` `News` (ID: 673)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/01/ST-US-Ultimate-Software-Press-Release.jpg` for `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ST-US-Ultimate-Software-Press-Release.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/01/ST-US-Ultimate-Software-Press-Release.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/01/ST-US-Ultimate-Software-Press-Release.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/ST-US-Ultimate-Software-Press-Release.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/ST-US-Ultimate-Software-Press-Release.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Announces SterlingONE Integration with Ultimate Software’s UltiPro Recruiting` `News` (ID: 675)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/03/1207-ST-US-BLOG-HRD-Congress-Awards-trophy-chalkboard-stars-V6-595x525.jpg` for `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year` ...</div>
<div class="progress-msg">- Using existing image `1207-ST-US-BLOG-HRD-Congress-Awards-trophy-chalkboard-stars-V6-595x525.jpg` for post `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Wins Back-to-Back Gold Stevie® Award for Global Sales Team of the Year` `News` (ID: 677)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sterling Talent Solutions Appoints William Greenblatt as CEO`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sterling Talent Solutions Appoints William Greenblatt as CEO`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sterling Talent Solutions Appoints William Greenblatt as CEO`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sterling Talent Solutions Appoints William Greenblatt as CEO`</div>
<div class="progress-msg"><b>CREATING</b> `Sterling Talent Solutions Appoints William Greenblatt as CEO` `News`</div>
<div class="progress-msg">Associate post `Sterling Talent Solutions Appoints William Greenblatt as CEO` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://st03.wpengine.com/wp-content/uploads/2018/05/33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg` for `Sterling Talent Solutions Appoints William Greenblatt as CEO` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://st03.wpengine.com/wp-content/uploads/2018/05/33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg`</div>
<div class="progress-msg">- Image `http://st03.wpengine.com/wp-content/uploads/2018/05/33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://sterling.arcbatcave.com/wp-content/uploads/2018/09/33314-ST-GBL-WBG-BIlly-PR-Image-595x525.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Sterling Talent Solutions Appoints William Greenblatt as CEO` `News` (ID: 678)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
